.header {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 100px;
  background-color: #ff6600;
}

.titleText {
  color: white;
  font-weight: 700;
  font-size: 64px;
  height: 62px;
  width: 750px;
}
