.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #ff6600;
}

.titleText {
  width: 800px;
  color: white;
  font-weight: 700;
  font-size: 64px;
}
