.textNumber {
  font-weight: 400;
  font-size: 48px;
  color: #ff6600;
  opacity: 0.3;
}

.articleWrapper {
  display: flex;
  margin-top: 40px;
  width: 800px;
}

.textAndTimeWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.articleLoading {
  height: 15px;
  width: 205px;
  opacity: 0.4;
  background-color: #000000;
}

.articleAuthorLoading {
  height: 12px;
  width: 134px;
  opacity: 0.2;
  margin-top: 5px;
  background-color: #000000;
}
